@{
  Layout = "_Layout";
}

@model SweetAndSavoryExplorer.Models.Flavor;

<h1>Flavor Details</h1>
<main>
  <h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model =>
    model.Name)</h2>
  @if (@Model.JoinEntities.Count == 0)
  {
    <p><span><i class="fa-solid fa-circle-exclamation"></i></span> This flavor has
      not been attached to any treats yet.</p>
    <p>Click "Edit Flavor" below to associate it with a treat.</p>
  }
  else
  {
    <h4>Treats the flavor contains:</h4>
    <ul>
      @foreach (var join in Model.JoinEntities)
      {
        <li>@join.Treat.Name</li>
      }
    </ul>
  }
  <p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })
  </p>
  <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })
  </p>
</main>

<p>@Html.ActionLink("Back to flavors", "Index")</p>
