@{
  Layout = "_Layout";
}

@model SweetAndSavoryExplorer.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model =>
  model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This treat does not belong to any flavors</p>
}
else
{
  <h4>Flavors this treat belongs to:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Flavor.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })
</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
