@{
  Layout = "_Layout";
}

@model SweetAndSavoryExplorer.Models.Treat

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Select category")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>