@{
  Layout = "_Layout";
}

@model SweetAndSavoryExplorer.Models.Treat

<h1>Edit Treat</h1>

<h2>Edit the @Html.DisplayFor(model => model.Name) treat below.</h2>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to treat list", "Index")</p>